body {
  background-color: #09090A;
  color: #FFFFFF;
  font-family: Outfit, sans-serif;
  font-weight: 400;
}

a,
h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  background-color: #09090A;
  margin: 0 auto;
  width: 1320px;
  padding-top: 132px;
}

.section-drops {
  position: relative;
}
.section-drops h2 {
  width: 216px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.83;
  letter-spacing: -0.014em;
  background: linear-gradient(to right, #06045B, #E01E5A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
  z-index: -1;
}
.section-drops h3 {
  position: absolute;
  cursor: default;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.09;
  width: 450px;
  left: 50%;
  transform: translate(-50%, -94%);
}
.section-drops .section-drops__blur {
  position: absolute;
  background: rgba(215, 29, 97, 0.6);
  filter: blur(200px);
  width: 450px;
  height: 390px;
  border-radius: 50%;
  top: -40px;
  right: -160px;
}

.section-drops__list {
  display: flex;
  justify-content: space-between;
  padding: 60px 0 132px 0;
}
.section-drops__list li {
  background-color: #1E1B33;
  border-radius: 12px;
  width: 312px;
  height: 435px;
  z-index: 3;
}

.section-drops__list li img {
  border-radius: 14px;
  margin: 24px 24px;
}

.section-drops__description {
  display: flex;
  flex-wrap: wrap;
  margin: 0 24px 24px;
}
.section-drops__description h4 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 16px;
  cursor: default;
}
.section-drops__description .like {
  margin-left: 95px;
  cursor: pointer;
}
.section-drops__description p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  width: 116px;
  height: 16px;
  font-size: 14px;
  line-height: 1.14;
}
.section-drops__description .section-drops__people {
  background-image: url(/images/main_pictures/few_people.svg);
  width: 60px;
  height: 24px;
  margin-left: 88px;
}
.section-drops__description .button {
  margin-top: 24px;
  width: 264px;
  height: 38px;
  padding: auto 90px;
  border-radius: 8px;
  border: 0.5px solid rgba(231, 231, 231, 0.4);
  background: #1E1B33;
  color: #FFFFFF;
  cursor: pointer;
}
.section-drops__description .button:hover, .section-drops__description .button:focus {
  background: linear-gradient(to right, #0500FA, #E01E5A) padding-box, linear-gradient(to right, rgba(231, 231, 231, 0.4), rgba(231, 231, 231, 0.4)) border-box;
}

.section-collections .button.bottom {
  width: 195px;
  height: 46px;
  margin: 0 562px;
  border-radius: 8px;
  background: linear-gradient(to right, #0500FA, #E01E5A) padding-box;
  border: 0.5px solid rgba(231, 231, 231, 0.4);
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
  padding: 16px 30px;
  cursor: pointer;
}

.section-collections__header h3 > .button {
  border: none;
  height: 44px;
  width: 30px;
  background: #09090A;
  cursor: pointer;
}
.section-collections__header h3 > .button svg {
  transform: translate(20%, -40%);
}

.section-collections__header {
  display: flex;
  margin-bottom: 60px;
}
.section-collections__header h2 {
  width: 216px;
  margin: 0 0 0 32px;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.83;
  letter-spacing: -0.014em;
  background: linear-gradient(to right, #06045B, #E01E5A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}
.section-collections__header h3 {
  position: absolute;
  cursor: default;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.09;
  width: 320px;
  transform: translateY(65%);
}

.section-collections__buttons-set {
  display: flex;
  align-items: center;
  margin-left: 257px;
  width: 816px;
}
.section-collections__buttons-set li:nth-child(1) {
  margin-right: 8px;
}
.section-collections__buttons-set li:nth-child(2) {
  margin-right: 8px;
}
.section-collections__buttons-set li:nth-child(2) .button {
  width: 100px;
}
.section-collections__buttons-set li:nth-child(3) {
  margin-right: 391px;
}
.section-collections__buttons-set li:nth-child(3) .button {
  width: 109px;
}
.section-collections__buttons-set li:nth-child(4) .button {
  width: 105px;
  padding: 10px 14px;
}
.section-collections__buttons-set .button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 95px;
  height: 44px;
  border-radius: 8px;
  font-size: 12px;
  line-height: 1;
  border: 1px solid rgba(231, 231, 231, 0.4);
  background-color: #1E1B33;
  color: #FFFFFF;
  padding: 12px 20px;
}
.section-collections__buttons-set .button:hover, .section-collections__buttons-set .button:focus {
  background: linear-gradient(to right, #0500FA, #E01E5A) padding-box, linear-gradient(to right, rgba(231, 231, 231, 0.4), rgba(231, 231, 231, 0.4)) border-box;
}

.section-collections__set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 56px;
}
.section-collections__set li {
  position: relative;
  width: 424px;
  height: 100px;
  background: #1E1B33;
  border-radius: 12px;
  border: 1px solid rgba(231, 231, 231, 0.4);
}
.section-collections__set li:hover, .section-collections__set li:focus {
  box-shadow: 0px 20px 50px rgba(223, 30, 91, 0.1);
  background: linear-gradient(#1E1B33, #1E1B33) padding-box, linear-gradient(to right, #0500FA, #E01E5A) border-box;
}

.section-collections__set li img {
  position: absolute;
  top: 20px;
  left: 20px;
}
.section-collections__set li h4 {
  position: absolute;
  top: 20px;
  left: 84px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  cursor: default;
}
.section-collections__set li .ethereum {
  position: absolute;
  top: 24px;
  right: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #03DB80;
  cursor: default;
}
.section-collections__set li p {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82px;
  top: 63px;
  left: 84px;
  font-size: 14px;
  line-height: 1.28;
  cursor: default;
}
.section-collections__set li span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: default;
}

.section-trending {
  position: relative;
}
.section-trending h2 {
  width: 216px;
  margin: 131px auto 0;
  font-weight: 700;
  font-size: 96px;
  line-height: 0.83;
  letter-spacing: -0.014em;
  background: linear-gradient(to right, #06045B, #E01E5A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: default;
}
.section-trending h3 {
  position: absolute;
  cursor: default;
  font-weight: 500;
  font-size: 44px;
  line-height: 1.09;
  margin: 0 auto;
  width: 279px;
  left: 50%;
  transform: translate(-50%, -94%);
}
.section-trending .section-trending__blur {
  position: absolute;
  background: rgba(215, 29, 97, 0.6);
  filter: blur(200px);
  width: 364px;
  height: 318px;
  border-radius: 50%;
  top: -40px;
  right: -160px;
}

.section-trending__list {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.section-trending__list li {
  position: relative;
  background: #1E1B33;
  border-radius: 12px;
  border: 1px solid rgba(231, 235, 238, 0.4);
  width: 312px;
  height: 439px;
}
.section-trending__list li img {
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 14px;
}
.section-trending__list li > p {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 276px;
  left: 24px;
  width: 106px;
  cursor: default;
  font-size: 14px;
  line-height: 1.14;
}
.section-trending__list li h4 {
  position: relative;
  top: 285px;
  left: 24px;
  width: 192px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  cursor: default;
}
.section-trending__list li div {
  position: relative;
  width: 264px;
  height: 70px;
  left: 24px;
  top: 300px;
  background: #1E1B33;
  border: 0.5px solid rgba(231, 231, 231, 0.4);
  border-radius: 8px;
  cursor: default;
}

.section-trending__list li:hover, .section-trending__list li:focus {
  background: linear-gradient(#1E1B33, #1E1B33) padding-box, linear-gradient(to right, #0500FA, #E01E5A) border-box;
}
.section-trending__list li:hover .restart, .section-trending__list li:focus .restart, .section-trending__list li:hover .like, .section-trending__list li:focus .like, .section-trending__list li:hover .button.buy, .section-trending__list li:focus .button.buy {
  display: block;
}
.section-trending__list li .restart {
  position: absolute;
  left: 168px;
  top: 40px;
  display: none;
  cursor: pointer;
}
.section-trending__list li .like {
  position: absolute;
  left: 214px;
  top: 40px;
  display: none;
  cursor: pointer;
}
.section-trending__list li .button.buy {
  position: absolute;
  display: none;
  cursor: pointer;
  top: 194px;
  left: 88px;
  border-radius: 8px;
  border: 0.5px solid rgba(231, 231, 231, 0.4);
  background: linear-gradient(to right, #0500FA, #E01E5A) padding-box, linear-gradient(to right, #0500FA, #E01E5A) border-box;
  width: 136px;
  height: 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
}

.section-trending__box {
  position: relative;
}
.section-trending__box span:nth-child(1) {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 12px;
  line-height: 1.16;
  color: #C0C0C0;
}
.section-trending__box span:nth-child(2) {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 12px;
  line-height: 1.16;
  color: #C0C0C0;
}
.section-trending__box h5 {
  position: absolute;
  top: 40px;
  left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}
.section-trending__box p {
  position: absolute;
  top: 40px;
  right: 16px;
  font-size: 14px;
  line-height: 1;
}

.section-trending__selector {
  margin-top: 56px;
  margin-bottom: 50px;
}

.section-trending__bg {
  width: 630px;
  height: 1px;
  background: rgba(231, 231, 231, 0.24);
  margin: 0 auto;
}

.section-trending__btn-set {
  position: relative;
}
.section-trending__btn-set .button {
  position: absolute;
  width: 210px;
  height: 2px;
  border: none;
  background: rgba(231, 231, 231, 0.24);
  cursor: pointer;
}
.section-trending__btn-set .button.first {
  left: 345px;
  transform: translateY(-1px);
}
.section-trending__btn-set .button.first:hover, .section-trending__btn-set .button.first:focus {
  background: linear-gradient(to right, #0500FA, #E01E5A);
}
.section-trending__btn-set .button.second {
  left: 555px;
  transform: translateY(-1px);
}
.section-trending__btn-set .button.second:hover, .section-trending__btn-set .button.second:focus {
  background: linear-gradient(to right, #0500FA, #E01E5A);
}
.section-trending__btn-set .button.third {
  left: 765px;
  transform: translateY(-1px);
}
.section-trending__btn-set .button.third:hover, .section-trending__btn-set .button.third:focus {
  background: linear-gradient(to right, #0500FA, #E01E5A);
}/*# sourceMappingURL=header.css.map */