body {
  background-color: #09090A;
  color: #FFFFFF;
  font-family: Outfit, sans-serif;
  font-weight: 400;
}

a,
h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  background-color: #09090A;
  margin: 0 auto;
  width: 1320px;
}

footer {
  display: flex;
  padding-top: 100px;
}

.footer__marketplace li:nth-child(1) {
  margin-bottom: 32px;
}
.footer__marketplace li:nth-child(1) a {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
}
.footer__marketplace li {
  margin-bottom: 12px;
}
.footer__marketplace li a {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
}

.footer__community {
  margin-left: 191px;
}
.footer__community li:nth-child(1) {
  margin-bottom: 32px;
}
.footer__community li:nth-child(1) a {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
}
.footer__community li {
  margin-bottom: 12px;
}
.footer__community li a {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
}

.footer__categories {
  margin-left: 191px;
}
.footer__categories li:nth-child(1) {
  margin-bottom: 32px;
}
.footer__categories li:nth-child(1) a {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
}
.footer__categories li {
  margin-bottom: 12px;
}
.footer__categories li a {
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
}

.footer__market-link {
  margin-left: 191px;
}
.footer__market-link > a {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #FFFFFF;
}
.footer__market-link p {
  font-size: 16px;
  line-height: 1.25;
  margin: 32px 0 36px;
}
.footer__market-link form {
  position: relative;
  margin-bottom: 40px;
}
.footer__market-link form input {
  width: 240px;
  height: 58px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-style: none;
  background: #1E1B33;
  font-size: 16px;
  line-height: 1.12;
  color: #C0C0C0;
  padding: 20px;
}
.footer__market-link form button {
  position: absolute;
  width: 131px;
  height: 58px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-style: none;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.12;
  color: #FFFFFF;
  background: linear-gradient(to right, #0500FA, #E01E5A);
  cursor: pointer;
}
.footer__market-link .social-link a {
  margin-right: 12px;
}

.container__underline {
  background-color: #1E1B33;
}

.underline {
  position: relative;
  display: flex;
  align-items: center;
  height: 80px;
  width: 1320px;
  margin: 100px auto 0;
  background-color: #1E1B33;
}
.underline a {
  font-size: 20px;
  line-height: 1.12;
  color: #FFFFFF;
  margin-right: 47px;
}
.underline a:nth-child(3) {
  margin: 0;
}
.underline p {
  margin-left: 780px;
  font-size: 20px;
  line-height: 1.2;
  color: #C0C0C0;
  z-index: 10;
}
.underline .underline__blur {
  position: absolute;
  background: rgba(215, 29, 97, 0.6);
  filter: blur(110px);
  width: 364px;
  height: 130px;
  border-radius: 50%;
  right: -50px;
  top: -50px;
}/*# sourceMappingURL=header.css.map */